minecraft/.probe
minecraft/.qmenu_opened.marker
minecraft/.vscode
minecraft/coremods
minecraft/crash-reports
minecraft/data
minecraft/defaultconfigs
minecraft/emi.json
minecraft/heracles_options.json
minecraft/icon.png
minecraft/local
minecraft/logs
minecraft/map_atlases
minecraft/modernfix
minecraft/options.txt
minecraft/patchouli_books
minecraft/patchouli_data.json
minecraft/rhino.local.properties
minecraft/saves
minecraft/schematics
minecraft/screenshots
minecraft/server-resource-packs
minecraft/texturepacks
minecraft/usercache.json
minecraft/usernamecache.json
minecraft/config/embeddium-options.json
instance.cfg
minecraft/shaderpacks
*.log
minecraft/config/embeddium++.toml
*.properties
!minecraft/kubejs/**
